<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrazyDrag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B27372811BCA7B4100F69C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B273729A1BCA7B4200F69C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B27372A51BCA7B4200F69C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
